body {
    background-size: cover;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background-color: #FFEBCD;
}

h2 {
    text-align: center;
    font-family: Verdana, Tahoma;
    font-size: xx-large;
}

#texteHaut {
    text-align: center;
    font-family: Verdana, Tahoma;
    color: black;
    margin-top: 0%;
    font-size: 400%;
    background-image: url("img/hobbies.jpg");
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
}

#idTitreVoyage {
    text-align: center;
    font-family: Verdana, Tahoma;
    color: black;
    margin-top: 0%;
    font-size: 400%;
    background-image: url("img/voyage.jpg");
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 2%;
}

#idTextVoyage {
    text-align: justify;
    padding-left: 10%;
    margin-left: 11%;
    padding-right: 10%;
    font-family: Verdana, Tahoma;
}

#idVoyage {
    background-image: url("img/voyage.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 27%;
    padding-left: 2%;
    margin-top: 10%;
}

#idImgVoyage {
    width: 44%;
    height: 50%;
    margin-left: 17%;
    margin-bottom: 0%;
    position: absolute;
}

#idMusique {
    background-image: url("img/music.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 10%;
}

#idTextMusic {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-family: Verdana, Tahoma;
    margin-left: 27%;
}

#chansonMoment {
    font-size: x-large;
    color: black;
}

#celine {
    font-size: large;
    color: black;
}

#idNature {
    background-image: url("img/nature.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 10%;
}

#idTextNature {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Verdana, Tahoma;
    margin-left: 15%;
    margin-top: 4%;
    color: chocolate;
}

#idTitreNat {
    margin-top: 24%;
    color: chocolate;
    font-size: xx-large;
}

#idAmis {
    background-image: url("img/amis.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 10%;
}

#idTextAmis {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25%;
    font-family: Verdana, Tahoma;
    margin-left: 14%;
}

#idImgAmis {
    width: 35%;
    height: 40%;
    margin-left: 3%;
    margin-bottom: 0%;
    position: absolute;
    margin-top: 2%;
}

#idSport {
    background-image: url("img/sport.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
    margin-top: 10%;
}

#idTextSport {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-family: Verdana, Tahoma;
    margin-left: 15%;
}

#idPatisser {
    background-image: url("img/patisser.jpg");
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
    margin-top: 10%;
}

#idTitrePatisser {
    margin-top: 18%;
    color: maroon;
    font-size: xx-large;
}

#idTextPatisser {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-family: Verdana, Tahoma;
    margin-left: 25%;
    color: maroon;
}

#recette {
    font-size: xx-large;
    color: black;
}

#idBackMenu {
    color: black;
    background-color: coral;
    margin-top: 35%;
    position: fixed;
}

#idBM {
    position: fixed;
}

#idLogo {
    font-size: 30px;
    margin-left: 40%;
}

.toggle {
    background-color: #c87f8a;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 30%;
    margin-left: 5%;
}

.fa-plus {
    font-size: 60px;
    color: white;
    display: block;
    margin-top: 6%;
    transition: 0.7s;
    margin-left: -14%;
}

.menu {
    background-color: white;
    height: 100px;
    width: 100px;
    transform: scale(0);
    border-radius: 50%;
    border-style: double;
    border-color: #c87f8a;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
    margin-top: 12%;
    margin-left: 30%;
}

a {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #BBBBBB;
    cursor: pointer;
}

a:nth-child(1) {
    top: 6px;
    left: 45px;
}

a:nth-child(2) {
    top: 24px;
    left: 77px;
}

a:nth-child(3) {
    top: 58px;
    left: 76px;
}

a:nth-child(4) {
    top: 78px;
    left: 42px;
}

a:nth-child(5) {
    top: 58px;
    left: 10px;
}

a:nth-child(6) {
    top: 23px;
    left: 12px;
}

a:hover {
    color: #c87f8a;
}