body {
    background-size: cover;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    background-color: #FFEBCD;
}

h2 {
    text-align: center;
    font-family: Verdana, Tahoma;
    font-size: xx-large;
}

.flot {
    float: left;
}

#imgEvol {
    margin: auto;
    padding: auto;
    width: 20%;
    height: 20%;
    margin-left: 40%;
}

#texteHaut {
    text-align: center;
    font-family: Verdana, Tahoma;
    color: black;
    margin-top: 0%;
    font-size: 400%;
    background-image: url("img/hobbies.jpg");
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
}

#idTitreVoyage {
    text-align: center;
    font-family: Verdana, Tahoma;
    color: black;
    margin-top: 0%;
    font-size: 400%;
    padding-top: 7%;
    padding-bottom: 2%;
}

#idTextVoyage {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
}

#idVoyage {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

#idImgVoyage {
    height: 50%;
    width: 80%;
    margin-right: 0%;
    margin-left: 14%;
    padding-right: 0%;
}

#idImgVoyageP {
    margin-right: 0%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#idMusique {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#idTextMusic {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
}

#idImgMusicP {
    margin-right: -5%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#idImgMusic {
    height: 30%;
    width: 60%;
    margin-right: 0%;
    margin-left: 14%;
    padding-right: 0%;
}

#chansonMoment {
    font-size: x-large;
    color: black;
}

#celine {
    font-size: large;
    color: black;
}

#idNature {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#idTextNature {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
}

#idImgNatureP {
    margin-right: 0%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#idImgNature {
    height: 40%;
    width: 70%;
    margin-right: 0%;
    margin-left: 14%;
    padding-right: 0%;
}

#idAmis {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#idTextAmis {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
    margin-top: 6%;
}

#idImgAmi {
    height: 40%;
    width: 70%;
    margin-right: 0%;
    margin-left: 14%;
    padding-right: 0%;
}

#idImgAmiP {
    margin-right: -6%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#idSport {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#idTextSport {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
    margin-top: 3.5%;
}

#idImgSport {
    height: 40%;
    width: 70%;
    margin-right: 0%;
    margin-left: 14%;
    padding-right: 0%;
}

#idImgSportP {
    margin-right: -6%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#idPatisser {
    font-family: verdana;
    background-color: #F89777;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

#idTextPatisser {
    text-align: justify;
    padding-left: 0%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 5%;
    margin-top: 5.5%;
}

#idImgPatisser {
    height: 20%;
    width: 35%;
    margin-right: 0%;
    margin-left: 20%;
    padding-right: 0%;
}

#idImgPatisserP {
    margin-right: -15%;
    margin-bottom: 0%;
    width: 60%;
    height: 80%;
}

#recette {
    font-size: xx-large;
    color: black;
}

#idBackMenu {
    color: black;
    background-color: coral;
    margin-top: 35%;
    position: fixed;
}

#idBM {
    position: fixed;
}

#idLogo {
    font-size: 30px;
    margin-left: 40%;
}

.menuItem {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #BBBBBB;
    cursor: pointer;
}

.toggle {
    background-color: #c87f8a;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 30%;
    margin-left: 5%;
}

.fa-plus {
    font-size: 60px;
    color: white;
    display: block;
    margin-top: 6%;
    transition: 0.7s;
    margin-left: -14%;
}

.menu {
    background-color: white;
    height: 100px;
    width: 100px;
    transform: scale(0);
    border-radius: 50%;
    border-style: double;
    border-color: #c87f8a;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
    margin-top: 12%;
    margin-left: 30%;
}

a:nth-child(1) {
    top: 6px;
    left: 45px;
}

a:nth-child(2) {
    top: 24px;
    left: 77px;
}

a:nth-child(3) {
    top: 58px;
    left: 76px;
}

a:nth-child(4) {
    top: 78px;
    left: 42px;
}

a:nth-child(5) {
    top: 58px;
    left: 10px;
}

a:nth-child(6) {
    top: 23px;
    left: 12px;
}

a:hover {
    color: #c87f8a;
}